<div class="container-fluid main-content">
  <div class="col fill-height scroll-y demo-container">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            <i class="fas fa-arrow-left"></i>
          </div>
          <div
            class="btn btn-outline-secondary"
            mwlCalendarToday
            [(viewDate)]="viewDate"
          >
            Hoy
          </div>
          <div
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            <i class="fas fa-arrow-right"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month"
          >
            Mes
          </div>
          <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Week)"
            [class.active]="view === CalendarView.Week"
          >
            Semana
          </div>
          <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Day)"
            [class.active]="view === CalendarView.Day"
          >
            Día
          </div>
        </div>
      </div>
    </div>
    <br />
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-day-view>
    </div>

    <!-- Everything you see below is just for the demo, you don't need to include it in your app -->

    <br /><br /><br />

    <h3>
      Editar Eventos
      <button class="btn btn-primary float-end" (click)="addEvent()">
        Añadir Eventos
      </button>
      <div class="clearfix"></div>
    </h3>

    <!-- Encima de la tabla de eventos -->
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="searchTerm"
        (keyup)="searchEvents()"
        placeholder="Buscar eventos..."
      />
    </div>
    <br />
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Título</th>
            <th>Color Primario</th>
            <th>Color Secundario</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Borrar</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let event of filteredTableEvents">
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="event.title"
                (keyup)="refresh.next()"
              />
            </td>
            <td>
              <input
                type="color"
                [(ngModel)]="event.color.primary"
                (change)="refresh.next()"
              />
            </td>
            <td>
              <input
                type="color"
                [(ngModel)]="event.color.secondary"
                (change)="refresh.next()"
              />
              <input
                type="color"
                [ngModel]="event.color.secondaryText ?? '#1e90ff'"
                (ngModelChange)="event.color.secondaryText = $event"
                (change)="refresh.next()"
              />
            </td>
            <td>
              <input
                class="form-control"
                type="text"
                mwlFlatpickr
                [(ngModel)]="event.start"
                (ngModelChange)="refresh.next()"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i"
                placeholder="Not set"
              />
            </td>
            <td>
              <input
                class="form-control"
                type="text"
                mwlFlatpickr
                [(ngModel)]="event.end"
                (ngModelChange)="refresh.next()"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i"
                placeholder="Not set"
              />
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteEvent(event)">
                <i class="fas fa-fw fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #modalContent let-close="close">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ modalData.action === 'Edited' ? 'Editar Evento' : 'Información del
          Evento' }}
        </h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="modalData.action === 'Edited'">
          <!-- Formulario de Edición -->
          <form>
            <!-- Título del Evento -->
            <div class="form-group">
              <label for="eventTitle">Título del Evento:</label>
              <input
                type="text"
                class="form-control"
                id="eventTitle"
                [(ngModel)]="modalData.event.title"
              />
            </div>

            <!-- Color Primario -->
            <div class="form-group">
              <label for="primaryColor">Color Primario:</label>
              <input
                type="color"
                class="form-control"
                id="primaryColor"
                [(ngModel)]="modalData.event.color.primary"
              />
            </div>

            <!-- Color Secundario -->
            <div class="form-group">
              <label for="secondaryColor">Color Secundario:</label>
              <input
                type="color"
                class="form-control"
                id="secondaryColor"
                [(ngModel)]="modalData.event.color.secondary"
              />
            </div>

            <!-- Fecha de Inicio -->
            <div class="form-group">
              <label for="startDate">Fecha de Inicio:</label>
              <input
                class="form-control"
                type="text"
                id="startDate"
                mwlFlatpickr
                [(ngModel)]="modalData.event.start"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i"
              />
            </div>

            <!-- Fecha de Fin -->
            <div class="form-group">
              <label for="endDate">Fecha de Fin:</label>
              <input
                class="form-control"
                type="text"
                id="endDate"
                mwlFlatpickr
                [(ngModel)]="modalData.event.end"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i"
              />
            </div>
          </form>
        </div>
        <div *ngIf="modalData.action !== 'Edited'">
          <!-- Contenido para otras acciones -->
          <pre>{{ modalData?.event | json }}</pre>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">
          Cerrar
        </button>
        <button
          *ngIf="modalData.action === 'Edited'"
          type="button"
          class="btn btn-primary"
          (click)="saveEventChanges()"
        >
          Guardar Cambios
        </button>
      </div>
    </ng-template>
  </div>
</div>
