/* Centra el formulario en la pantalla */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f9fa;
}

/* Estilo para el contenedor del formulario */
.form-container {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

/* Estilos para el formulario y sus elementos */
.form-group {
  margin-bottom: 15px;
}

/* Estilo para el botón de inicio de sesión */
.btn-login {
  width: 100%;
}

/* Media query para pantallas más grandes */
@media (min-width: 600px) {
  .form-container {
    width: 50%;
    max-width: 500px;
  }
}
