/* Estilo para el formulario */
.formulario-login {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.formulario-login h2 {
  margin-top: 20px; /* Espacio superior para separarlo del mensaje de error */
  text-align: center; /* Centra el contenido horizontalmente */
}

/* Estilo para el mensaje de error */
.alert.alert-danger {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #f00;
  background-color: #ffe6e6;
  color: #f00;
  border-radius: 5px;
}

/* Estilo para los campos de entrada */
.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Estilo para el botón de inicio de sesión */
.btn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Estilo para el enlace de registro */
a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
