<form (submit)="onSubmit()" class="formulario-login">
  <!-- Mensaje de error -->
  <div *ngIf="mensajeError" class="alert alert-danger">
    {{ mensajeError }}
  </div>
  <h2>Inicio de Sesión</h2>
  <div class="form-group">
    <label for="nombreUsuario">Usuario:</label>
    <input
      type="text"
      id="nombreUsuario"
      [(ngModel)]="nombreUsuario"
      name="nombreUsuario"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="contrasena">Contraseña:</label>
    <input
      type="password"
      id="contrasena"
      [(ngModel)]="contrasena"
      name="contrasena"
      class="form-control"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
  <!-- Enlace a la página de registro -->
  <div class="form-group">
    <a [routerLink]="'/registro'">¿No tienes cuenta? Regístrate aquí</a>
  </div>
</form>
